n8n/workflows/ApplicantCVParsing.json
{
  "name": "ApplicantCVParsing",
  "nodes": [
    {
      "parameters": {
        "model": "nvidia/nemotron-3-ultra-550b-a55b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        624,
        176
      ],
      "id": "960eb7c0-a681-427f-ae0b-50f1ca5894e2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6bryUCpl9r04EdLI",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://grp03.pia-web.ris.uni-due.de/api/method/frappe.core.doctype.file.file.download_file?file_url={{ $json.body.resume_attachment }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cvdata"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "c472d639-adbf-4a80-aded-f16f127e4ea4",
      "name": "HTTP Request-GET PDF",
      "credentials": {
        "erpNextApi": {
          "id": "a1ERsZQlr0iW7WEq",
          "name": "ERPNext account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cvdata",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        432,
        0
      ],
      "id": "75f8da77-8a0e-4fce-8f6a-76932441992c",
      "name": "Extract from File: CV Extractor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DbT3DrlTn4YfeoXn",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/DbT3DrlTn4YfeoXn",
          "cachedResultName": "ApplicantScoring"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "test"
          ],
          "schema": [
            {
              "id": "test",
              "displayName": "test",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1344,
        0
      ],
      "id": "86eeb2db-49e1-4f28-9c85-9b023e30a92e",
      "name": "Call 'ApplicantScoring'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-parsing",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ff9989b0-7ced-4489-bbe7-ad5c379cc37e",
      "name": "Webhook: CV Applicant",
      "webhookId": "f991c02f-dc8c-4d6c-b9c4-2d5fe7091574"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://grp03.pia-web.ris.uni-due.de/api/resource/Job Applicant/{{ $json.applicantName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "custom_zusammenfassung_cv",
              "value": "={{ $json.custom_zusammenfassung_cv }}"
            },
            {
              "name": "custom_höchster_bildungsabschluss",
              "value": "={{ $json.custom_hoechster_bildungsabschluss }}"
            },
            {
              "name": "custom_gesamtberufsjahre",
              "value": "={{ $json.custom_gesamtberufsjahre }}"
            },
            {
              "name": "custom_beruflicher_werdegang",
              "value": "={{ $json.custom_beruflicher_werdegang }}"
            },
            {
              "name": "custom_sprachkenntnisse",
              "value": "={{ $json.custom_sprachkenntnisse }}"
            },
            {
              "name": "custom_skills_und_technologien",
              "value": "={{ $json.custom_skills_und_technologien }}"
            },
            {
              "name": "custom_certificates",
              "value": "={{ $json.custom_certificates }}"
            },
            {
              "name": "custom_projects",
              "value": "={{ $json.custom_projects }}"
            },
            {
              "name": "custom_github_profil",
              "value": "={{ $json.custom_github_profil }}"
            },
            {
              "name": "custom_linkedin_profil",
              "value": "={{ $json.custom_linkedin_profil }}"
            },
            {
              "name": "custom_json_cv_parsing",
              "value": "={{ $('LLM Chain: CV Field Mapping').item.json.text }}"
            },
            {
              "name": "custom_bildungsabschluss_note",
              "value": "={{ $json.custom_bildungsabschluss_note }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        0
      ],
      "id": "bd1f0d51-1046-48ac-8787-d18b0e484269",
      "name": "HTTP Request: Upload Parsed CV Data",
      "credentials": {
        "erpNextApi": {
          "id": "trA9dhTurcxOP38C",
          "name": "ERPNextBot"
        }
      },
      "continueOnFail": true,
      "notes": "FIX: Kein JSON.parse() mehr in Expressions. FIX: custom_hoechster_bildungsabschluss und custom_gesamtberufsjahre jetzt enthalten (fehlten vorher!)"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || '';\nlet parsed;\n\nparsed = JSON.parse(raw);\n\n// Bewerber aus Webhook holen\nconst applicantName = $('Webhook: CV Applicant').first().json.body.name;\n\n// JSON ausgeben\nreturn [{\n  json: {\n    applicantName,\n    custom_zusammenfassung_cv: \n      parsed.custom_zusammenfassung_cv,\n    custom_hoechster_bildungsabschluss:\n      parsed.custom_hoechster_bildungsabschluss,\n    custom_bildungsabschluss_note:\n        parsed.custom_bildungsabschluss_note,\n    custom_gesamtberufsjahre:\n      Math.round(parsed.custom_gesamtberufsjahre),\n    custom_beruflicher_werdegang: \n      parsed.custom_beruflicher_werdegang,\n    custom_sprachkenntnisse:\n      parsed.custom_sprachkenntnisse,\n    custom_skills_und_technologien:\n      parsed.custom_skills_und_technologien,\n    custom_certificates:\n      parsed.custom_certificates,\n    custom_projects:\n      parsed.custom_projects,\n    custom_github_profil:\n      parsed.custom_github_profil,\n    custom_linkedin_profil: \n      parsed.custom_linkedin_profil\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "c9780f6f-7f50-4de3-a94e-0f2b24328b2b",
      "name": "Code: Parse & Structure JSON",
      "notes": "NEU: Sicheres JSON-Parsing mit try/catch, Markdown-Fallback, Array-Validierung aller Listenfelder, Integer-Rundung fuer Berufsjahre."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist ein erfahrener HR-Manager und Recruiting-Experte. Deine Aufgabe ist es, den bereitgestellten Lebenslauf präzise zu analysieren und die relevanten Daten strukturiert als JSON-Objekt zu extrahieren.\n\nAnalysiere den Lebenslauf und erstelle ein valides JSON-Objekt, das exakt den Feldnamen des ERPNext DocTypes \"Bewerber\" entspricht. \n\nWICHTIG:\n- Gib AUSSCHLIESSLICH das JSON-Objekt zurück. \n- Schreibe keinen Einleitungstext, keine Erklärungen und keine Markdown-Formatierung \n- Vermeide generische Formulierungen sowie Halluzinationen.\n- Extrahiere ALLE im Lebenslauf auffindbaren Zertifikate/Weiterbildungen, Sklills & Technologien,Sprachkenntnisse,Unternehmen und Projekte auf.\n- Falls bei Zeiträumen (z.B. Beruflicher Werdegang) der Monat fehlt, trage dann JJJJ \n- Im Feld \"custom_skills_und_technologien\" sollen alle Skills & Technologien aufgeführt werden. Unteranderem wie Programmiersprachen, Frameworks/Bibliotheken, Soziale/Persönliche/Methodische Kompetenzen etc..\n- JJJJ ein (z.B. 2023-2025).\n- Einstufung von Skills: Falls \"custom_cveinstufung\" nicht explizit genannt ist, schätze das Erfahrungslevel (Grundkenntnisse, Fortgeschritten, Experte) anhand der Komplexität der Aufgaben und Erfolge im Lebenslauf realistisch ein.\n\nHier ist der zu analysierende Lebenslauf-Text:\n{{ $json.text }}\n\nStruktur des auszugebenden JSON-Objekts im Sctructure Output Parser (Halte dich exakt an diese Feldnamen und Strukturen)\n\n{\n  \"custom_zusammenfassung_cv\": \"Professionelle Zusammenfassung in der 3. Person über den Bewerber. Enthalte die wichtigsten Bullet Points zu Aufgaben und Kernkompetenzen aus dem Punkt Berufliche Erfahrung/Projekten sowie andere wichtige Fähigkeiten und Eigenschaften aus dem Lebenslauf.\",\n  \"custom_hoechster_bildungsabschluss\": \"Extrahiere den höchsten Abschluss (z.B. 'M.Sc. in Software Engineering' oder 'B.Sc. in Maschinenbau' oder 'Abitur').\",\n  \"custom_bildungsabschluss_note\": \"Beispiel: 1.0 oder 1,7\"\n  \"custom_gesamtberufsjahre\": 0,\n  \"custom_beruflicher_werdegang\": [\n    {\n      \"custom_cvunternehmen\": \"Name des Unternehmens\",\n      \"custom_cvjobtitel__position\": \"Position / Jobtitel\",\n      \"custom_cvzeitraum\": \"Format: MM/JJJJ - MM/JJJJ oder MM/JJJJ - Heute\"\n    }\n  ],\n  \"custom_sprachkenntnisse\": [\n    {\n      \"custom_cvsprache\": \"Name der Sprache (z.B. Deutsch)\",\n      \"custom_cvsprachniveau\": \"Erlaubter Wert (NUR EINER): A1, A2, B1, B2, C1, C2, Muttersprache\"\n    }\n  ],\n  \"custom_skills_und_technologien\": [\n    {\n      \"custom_cvskill_technologie\": \"Name des Skill / Technologie / Framework (z.B. Java, ERPNext, n8n, Javascript)\",\n      \"custom_cveinstufung\": \"Erlaubter Wert (NUR EINER): Grundkenntnisse, Fortgeschritten, Experte\"\n    }\n  ],\n  \"custom_certificates\": [\n    {\n      \"custom_cvcertificates\": \"Name des Zertifikat / Weiterbildung\",\n      \"custom_cvdate_of_issue\": \"Format: MM/JJJJ oder MM/JJJJ - MM/JJJJ oder JJJJ\"\n    }\n  ],\n  \"custom_projects\": [\n    {\n      \"custom_cvproject\": \"Name des Projekts\",\n      \"custom_cvdescriptionproject\": \"Kurzbeschreibung (Aufgaben, Ziele, Fokus) des Projekts.\",\n      \"custom_cvtime_period\": \"Format: JJJJ\"\n    }\n  ],\n  \"custom_github_profil\": \"\",\n  \"custom_linkedin_profil\": \"\",\n  \"required\": [\n    \"custom_zusammenfassung_cv\",\n    \"custom_hoechster_bildungsabschluss\",\n    \"custom_bildungsabschluss_note\",\n    \"custom_gesamtberufsjahre\",\n    \"custom_beruflicher_werdegang\",\n    \"custom_sprachkenntnisse\",\n    \"custom_skills_und_technologien\",\n    \"custom_certificates\",\n    \"custom_projects\",\n    \"custom_github_profil\",\n    \"custom_linkedin_profil\"\n  ]\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "a59dbca8-e404-4a23-b767-3c8289aef411",
      "name": "LLM Chain: CV Field Mapping"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain: CV Field Mapping",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-GET PDF": {
      "main": [
        [
          {
            "node": "Extract from File: CV Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File: CV Extractor": {
      "main": [
        [
          {
            "node": "LLM Chain: CV Field Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: CV Applicant": {
      "main": [
        [
          {
            "node": "HTTP Request-GET PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Upload Parsed CV Data": {
      "main": [
        [
          {
            "node": "Call 'ApplicantScoring'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse & Structure JSON": {
      "main": [
        [
          {
            "node": "HTTP Request: Upload Parsed CV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain: CV Field Mapping": {
      "main": [
        [
          {
            "node": "Code: Parse & Structure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "82f94349-bd39-4a05-8d1c-bd1c8cae7f13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feecff4ee87d901fec92a8285b12c2e797199ea12276c3a54db9cf374027adae"
  },
  "id": "fwjJ7JHxvtx9BBtb",
  "tags": []
}