n8n/interview_timeslots/InterviewTimeslotsAccessWebsite.json
{
  "name": "InterviewTimeslotsAccessWebsite",
  "nodes": [
    {
      "parameters": {
        "path": "interview-tslots-suggestions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        144
      ],
      "id": "bb53f8e9-ea2b-4821-a697-a30ca7223f3f",
      "name": "Webhook:GET-Webseite Terminvorschlag",
      "webhookId": "67cf5b84-76b2-41e8-9d08-18299f52ca75"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://grp03.pia-web.ris.uni-due.de"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "3f5674f4-3272-4e40-ad70-044bc3265324",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://grp03.pia-web.ris.uni-due.de/api/resource/Interview%20Timeslots",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters",
              "value": "=[[\"Interview Timeslots\",\"custom_urlhash_sugdate\",\"=\",\"{{ $json.query.hash }}\"]]"
            },
            {
              "name": "=[[\"Interview Timeslots\",\"custom_urlhash_sugdate\",\"=\",\"{{ $json.body.Url_HASH }}\"]]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        144
      ],
      "id": "5a2e4c3e-4c23-48a2-9077-121853ed8d75",
      "name": "HTTP Request - Abfrage HASH erhalte name_id",
      "credentials": {
        "erpNextApi": {
          "id": "trA9dhTurcxOP38C",
          "name": "ERPNextBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "docType": "Interview%20Timeslots",
        "documentName": "={{ $json.data[0].name }}"
      },
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        -688,
        144
      ],
      "id": "6d47f7bc-8e7e-4231-915f-ff929d9a709c",
      "name": "Bewerbungstermine abholen",
      "credentials": {
        "erpNextApi": {
          "id": "trA9dhTurcxOP38C",
          "name": "ERPNextBot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: \"alternative_dates_requested\", data: [ $json ] } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://grp03.pia-web.ris.uni-due.de"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        224
      ],
      "id": "7778abc4-b6a4-4357-9a78-92f481fe80cc",
      "name": "Respond to Webhook_alternative_dates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "664c2aad-672d-4315-9521-4c66909ee355",
              "leftValue": "={{ $('Bewerbungstermine abholen').item.json.custom_timeslots_sugdate.some(slot => slot.custom_status_tslot === 'Accepted') }}",
              "rightValue": "Accepted",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        208
      ],
      "id": "fbee2ec7-9668-4a22-87cf-301b36cf13d9",
      "name": "If_check_slot_accepted"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7753fe81-aad8-4c41-9987-6d86f695e4e3",
              "leftValue": "={{ $json.custom_prefdatetext_sugdate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        144
      ],
      "id": "c5559f34-6adc-4845-9cdf-c963b5cf6728",
      "name": "If_check_alternative_dates"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook:GET-Webseite Terminvorschlag": {
      "main": [
        [
          {
            "node": "HTTP Request - Abfrage HASH erhalte name_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Abfrage HASH erhalte name_id": {
      "main": [
        [
          {
            "node": "Bewerbungstermine abholen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bewerbungstermine abholen": {
      "main": [
        [
          {
            "node": "If_check_alternative_dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_check_slot_accepted": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook_alternative_dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_check_alternative_dates": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If_check_slot_accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2957eeff-7b33-42dd-ad07-1252516b2af6",
  "meta": {
    "instanceId": "feecff4ee87d901fec92a8285b12c2e797199ea12276c3a54db9cf374027adae"
  },
  "id": "uWj4sunbpoi9fozy",
  "tags": []
}