n8n/applicant_cv_parsing/ApplicantCVParsing.json
{
  "name": "ApplicantCVParsing",
  "nodes": [
    {
      "parameters": {
        "model": "tencent/hy3:free",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        -96
      ],
      "id": "960eb7c0-a681-427f-ae0b-50f1ca5894e2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6bryUCpl9r04EdLI",
          "name": "OpenRouter - Main Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://grp03.pia-web.ris.uni-due.de/api/method/frappe.core.doctype.file.file.download_file?file_url={{ $json.body.resume_attachment }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cvdata"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -272
      ],
      "id": "c472d639-adbf-4a80-aded-f16f127e4ea4",
      "name": "HTTP Request-GET PDF",
      "credentials": {
        "erpNextApi": {
          "id": "trA9dhTurcxOP38C",
          "name": "ERPNextBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cvdata",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        496,
        -272
      ],
      "id": "75f8da77-8a0e-4fce-8f6a-76932441992c",
      "name": "Extract from File: CV Extractor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DbT3DrlTn4YfeoXn",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/DbT3DrlTn4YfeoXn",
          "cachedResultName": "ApplicantScoring"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "test"
          ],
          "schema": [
            {
              "id": "test",
              "displayName": "test",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1632,
        -432
      ],
      "id": "86eeb2db-49e1-4f28-9c85-9b023e30a92e",
      "name": "Call 'ApplicantScoring'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cv-parsing",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        -272
      ],
      "id": "ff9989b0-7ced-4489-bbe7-ad5c379cc37e",
      "name": "Webhook: CV Applicant",
      "webhookId": "f991c02f-dc8c-4d6c-b9c4-2d5fe7091574"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://grp03.pia-web.ris.uni-due.de/api/resource/Job Applicant/{{ $json.applicantName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "custom_zusammenfassung_cv",
              "value": "={{ $json.custom_zusammenfassung_cv }}"
            },
            {
              "name": "custom_höchster_bildungsabschluss",
              "value": "={{ $json.custom_hoechster_bildungsabschluss }}"
            },
            {
              "name": "custom_gesamtberufsjahre",
              "value": "={{ $json.custom_gesamtberufsjahre }}"
            },
            {
              "name": "custom_beruflicher_werdegang",
              "value": "={{ $json.custom_beruflicher_werdegang }}"
            },
            {
              "name": "custom_sprachkenntnisse",
              "value": "={{ $json.custom_sprachkenntnisse }}"
            },
            {
              "name": "custom_skills_und_technologien",
              "value": "={{ $json.custom_skills_und_technologien }}"
            },
            {
              "name": "custom_certificates",
              "value": "={{ $json.custom_certificates }}"
            },
            {
              "name": "custom_projects",
              "value": "={{ $json.custom_projects }}"
            },
            {
              "name": "custom_github_profil",
              "value": "={{ $json.custom_github_profil }}"
            },
            {
              "name": "custom_linkedin_profil",
              "value": "={{ $json.custom_linkedin_profil }}"
            },
            {
              "name": "custom_json_cv_parsing",
              "value": "={{ $('LLM Chain: CV Field Mapping').item.json.text }}"
            },
            {
              "name": "custom_bildungsabschluss_note",
              "value": "={{ $json.custom_bildungsabschluss_note }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        -272
      ],
      "id": "bd1f0d51-1046-48ac-8787-d18b0e484269",
      "name": "HTTP Request: Upload Parsed CV Data",
      "credentials": {
        "erpNextApi": {
          "id": "trA9dhTurcxOP38C",
          "name": "ERPNextBot"
        }
      },
      "continueOnFail": true,
      "notes": "FIX: Kein JSON.parse() mehr in Expressions. FIX: custom_hoechster_bildungsabschluss und custom_gesamtberufsjahre jetzt enthalten (fehlten vorher!)"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || '';\nlet parsed;\n\nparsed = JSON.parse(raw);\n\n// Bewerber aus Webhook holen\nconst applicantName = $('Webhook: CV Applicant').first().json.body.name;\n\n// JSON ausgeben\nreturn [{\n  json: {\n    applicantName,\n    custom_zusammenfassung_cv: \n      parsed.custom_zusammenfassung_cv,\n    custom_hoechster_bildungsabschluss:\n      parsed.custom_hoechster_bildungsabschluss,\n    custom_bildungsabschluss_note:\n        parsed.custom_bildungsabschluss_note,\n    custom_gesamtberufsjahre:\n      Math.round(parsed.custom_gesamtberufsjahre),\n    custom_beruflicher_werdegang: \n      parsed.custom_beruflicher_werdegang,\n    custom_sprachkenntnisse:\n      parsed.custom_sprachkenntnisse,\n    custom_skills_und_technologien:\n      parsed.custom_skills_und_technologien,\n    custom_certificates:\n      parsed.custom_certificates,\n    custom_projects:\n      parsed.custom_projects,\n    custom_github_profil:\n      parsed.custom_github_profil,\n    custom_linkedin_profil: \n      parsed.custom_linkedin_profil\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -272
      ],
      "id": "c9780f6f-7f50-4de3-a94e-0f2b24328b2b",
      "name": "Code: Parse & Structure JSON",
      "notes": "NEU: Sicheres JSON-Parsing mit try/catch, Markdown-Fallback, Array-Validierung aller Listenfelder, Integer-Rundung fuer Berufsjahre."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an experienced HR and recruiting expert. Your task is to precisely analyze the provided CV and extract the relevant data structurally as a JSON object.\nAnalyze the CV and create a valid JSON object that exactly matches the field names of the ERPNext DocType \"Bewerber\".\n\nIMPORTANT:\n- Return EXCLUSIVELY the JSON object.\n- Do not write any introductory text, explanations, or markdown formatting.\n- Avoid generic phrasing as well as hallucinations.\n- Extract ALL certificates/training, skills & technologies, language skills, companies, and projects that can be found in the CV.\n- If the month is missing for time periods (e.g., professional history), enter YYYY.\n- In the field \"custom_skills_und_technologien\", all skills & technologies should be listed. This includes programming languages, frameworks/libraries, social/personal/methodological competencies, etc. \n- Enter for YYYY (e.g., 2023-2025).\n- Under \"custom_projects\", only projects should be listed, and no activity descriptions should be taken from the \"professional history\", unless projects were explicitly mentioned.\n- Classification of skills: If \"custom_cveinstufung\" is not explicitly stated, realistically estimate the experience level (Grundkenntnisse, Fortgeschritten, Experte) based on the complexity of the tasks and achievements in the CV.\n\nHere is the CV text to be analyzed:\n{{ $json.text }}\n\nAdhere exactly to the specified structural schema for the output JSON object (strictly follow these field names and structures).\n\n{\n    \"custom_zusammenfassung_cv\": \"Professional summary of the applicant in the 3rd person. Include the most important bullet points regarding tasks and core competencies from the professional experience/projects section, as well as other important skills and attributes from the CV.\",\n    \"custom_hoechster_bildungsabschluss\": \"Extract the highest degree (e.g., 'M.Sc. in Software Engineering' or 'B.Sc. in Maschinenbau' or 'Abitur').\",\n    \"custom_bildungsabschluss_note\": \"Example: 1.0 or 1,7\"\n    \"custom_gesamtberufsjahre\": 0,\n    \"custom_beruflicher_werdegang\": [\n    {\n        \"custom_cvunternehmen\": \"Name of the company\",\n        \"custom_cvjobtitel__position\": \"Position / Job title\",\n        \"custom_cvzeitraum\": \"Format: MM/YYYY - MM/YYYY or MM/YYYY - Heute\"\n    }\n  ],\n  \"custom_sprachkenntnisse\": [\n    {\n        \"custom_cvsprache\": \"Name of the language (e.g., Deutsch, Englisch)\",\n        \"custom_cvsprachniveau\": \"Allowed value (ONLY ONE): A1, A2, B1, B2, C1, C2, Muttersprache\"\n    }\n  ],\n  \"custom_skills_und_technologien\": [\n    {\n        \"custom_cvskill_technologie\": \"Name of the skill / technology / framework (e.g., Java, ERPNext, n8n, Javascript)\",\n        \"custom_cveinstufung\": \"Allowed value (ONLY ONE): Grundkenntnisse, Fortgeschritten, Experte\"\n    }\n  ],\n  \"custom_certificates\": [\n    {\n        \"custom_cvcertificates\": \"Name of the certificate / training\",\n        \"custom_cvdate_of_issue\": \"Format: MM/YYYY or MM/YYYY - MM/YYYY or YYYY or 'leave blank'\"\n    }\n  ],\n  \"custom_projects\": [\n    {\n        \"custom_cvproject\": \"Name of the project\",\n        \"custom_cvdescriptionproject\": \"Short description (tasks, goals, focus) of the project.\",\n        \"custom_cvtime_period\": \"Format: YYYY or 'leave blank'\n\"\n    }\n  ],\n  \"custom_github_profil\": \"\",\n  \"custom_linkedin_profil\": \"\",\n  \"required\": [\n    \"custom_zusammenfassung_cv\",\n    \"custom_hoechster_bildungsabschluss\",\n    \"custom_bildungsabschluss_note\",\n    \"custom_gesamtberufsjahre\",\n    \"custom_beruflicher_werdegang\",\n    \"custom_sprachkenntnisse\",\n    \"custom_skills_und_technologien\",\n    \"custom_certificates\",\n    \"custom_projects\",\n    \"custom_github_profil\",\n    \"custom_linkedin_profil\"\n  ]\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        688,
        -272
      ],
      "id": "a59dbca8-e404-4a23-b767-3c8289aef411",
      "name": "LLM Chain: CV Field Mapping"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1632,
        -128
      ],
      "id": "c8c9bbfe-8b23-4bc8-9759-584da97c48cb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96b36fb9-bd97-41af-8201-02ac2ffbf6c7",
              "leftValue": "={{ $('Webhook: CV Applicant').item.json.body.ScoringZustimmung }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        -272
      ],
      "id": "972d7177-a0e7-44af-83c6-3e6c62ec060e",
      "name": "If:KI-Scoring accepted"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain: CV Field Mapping",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request-GET PDF": {
      "main": [
        [
          {
            "node": "Extract from File: CV Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File: CV Extractor": {
      "main": [
        [
          {
            "node": "LLM Chain: CV Field Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: CV Applicant": {
      "main": [
        [
          {
            "node": "HTTP Request-GET PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Upload Parsed CV Data": {
      "main": [
        [
          {
            "node": "If:KI-Scoring accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse & Structure JSON": {
      "main": [
        [
          {
            "node": "HTTP Request: Upload Parsed CV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain: CV Field Mapping": {
      "main": [
        [
          {
            "node": "Code: Parse & Structure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If:KI-Scoring accepted": {
      "main": [
        [
          {
            "node": "Call 'ApplicantScoring'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0e1e5e5-c670-491d-8f16-727e22b50214",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feecff4ee87d901fec92a8285b12c2e797199ea12276c3a54db9cf374027adae"
  },
  "id": "fwjJ7JHxvtx9BBtb",
  "tags": []
}